<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aim.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,78},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>bear1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,36}}</string>
                <key>sourceSize</key>
                <string>{58,36}</string>
            </dict>
            <key>bear2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{54,36}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,36}}</string>
                <key>sourceSize</key>
                <string>{58,36}</string>
            </dict>
            <key>bear3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{54,36}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,36}}</string>
                <key>sourceSize</key>
                <string>{58,36}</string>
            </dict>
            <key>bear4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{54,36}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,36}}</string>
                <key>sourceSize</key>
                <string>{58,36}</string>
            </dict>
            <key>bear5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{54,36}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,36}}</string>
                <key>sourceSize</key>
                <string>{58,36}</string>
            </dict>
            <key>bear6.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{52,36}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,36}}</string>
                <key>sourceSize</key>
                <string>{58,36}</string>
            </dict>
            <key>bear7.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,40},{52,36}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{52,36}}</string>
                <key>sourceSize</key>
                <string>{58,36}</string>
            </dict>
            <key>bear8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{54,36}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,36}}</string>
                <key>sourceSize</key>
                <string>{58,36}</string>
            </dict>
            <key>enemy_d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,228},{14,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{14,10}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>enemy_dl_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,166},{14,12}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,12}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>enemy_dr_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,18},{10,14}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{10,14}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>enemy_l_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{10,14}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>enemy_r_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,235},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{10,14}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>enemy_u_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,65},{14,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{14,10}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>enemy_ul_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,211},{10,14}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{10,14}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>enemy_ur_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,152},{14,12}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{14,12}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>player_d_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,211},{15,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{15,22}}</string>
                <key>sourceSize</key>
                <string>{17,28}</string>
            </dict>
            <key>player_d_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,230},{16,24}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,28}</string>
            </dict>
            <key>player_d_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,133},{16,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,28}</string>
            </dict>
            <key>player_dl_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,102},{14,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{14,22}}</string>
                <key>sourceSize</key>
                <string>{16,26}</string>
            </dict>
            <key>player_dl_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,206},{13,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{17,26}</string>
            </dict>
            <key>player_dl_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,157},{15,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{15,22}}</string>
                <key>sourceSize</key>
                <string>{15,26}</string>
            </dict>
            <key>player_dr_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,78},{16,23}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{16,25}</string>
            </dict>
            <key>player_dr_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,40},{13,23}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{13,23}}</string>
                <key>sourceSize</key>
                <string>{17,25}</string>
            </dict>
            <key>player_dr_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,103},{13,23}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{13,23}}</string>
                <key>sourceSize</key>
                <string>{15,25}</string>
            </dict>
            <key>player_l_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,128},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{14,22}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>player_l_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,185},{14,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{14,24}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>player_l_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,78},{14,22}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{14,22}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>player_r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,232},{14,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{14,22}}</string>
                <key>sourceSize</key>
                <string>{16,26}</string>
            </dict>
            <key>player_r_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,204},{13,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{13,22}}</string>
                <key>sourceSize</key>
                <string>{17,26}</string>
            </dict>
            <key>player_r_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,180},{13,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{13,22}}</string>
                <key>sourceSize</key>
                <string>{15,26}</string>
            </dict>
            <key>player_u_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,181},{14,23}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{14,23}}</string>
                <key>sourceSize</key>
                <string>{16,27}</string>
            </dict>
            <key>player_u_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,108},{16,23}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{16,23}}</string>
                <key>sourceSize</key>
                <string>{16,27}</string>
            </dict>
            <key>player_u_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,160},{16,23}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{16,23}}</string>
                <key>sourceSize</key>
                <string>{16,27}</string>
            </dict>
            <key>player_ul_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,185},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{14,24}}</string>
                <key>sourceSize</key>
                <string>{16,26}</string>
            </dict>
            <key>player_ul_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,230},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,26}</string>
            </dict>
            <key>player_ul_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,230},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,26}</string>
            </dict>
            <key>player_ur_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,26}</string>
            </dict>
            <key>player_ur_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,134},{15,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{15,24}}</string>
                <key>sourceSize</key>
                <string>{17,26}</string>
            </dict>
            <key>player_ur_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,108},{15,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{15,24}}</string>
                <key>sourceSize</key>
                <string>{15,26}</string>
            </dict>
            <key>small-ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,240},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas.pvr.ccz</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0931874780a7335362ae2bd33065a5f$</string>
            <key>textureFileName</key>
            <string>atlas.pvr.ccz</string>
        </dict>
    </dict>
</plist>
