<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aim.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,292},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bear1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{115,71}}</string>
                <key>sourceSize</key>
                <string>{117,73}</string>
            </dict>
            <key>bear2.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,148},{105,71}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{105,71}}</string>
                <key>sourceSize</key>
                <string>{117,73}</string>
            </dict>
            <key>bear3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{105,71}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{105,71}}</string>
                <key>sourceSize</key>
                <string>{117,73}</string>
            </dict>
            <key>bear4.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,75},{105,71}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{105,71}}</string>
                <key>sourceSize</key>
                <string>{117,73}</string>
            </dict>
            <key>bear5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{105,71}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{105,71}}</string>
                <key>sourceSize</key>
                <string>{117,73}</string>
            </dict>
            <key>bear6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{103,71}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{103,71}}</string>
                <key>sourceSize</key>
                <string>{117,73}</string>
            </dict>
            <key>bear7.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,221},{103,69}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{103,69}}</string>
                <key>sourceSize</key>
                <string>{117,73}</string>
            </dict>
            <key>bear8.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{107,71}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{107,71}}</string>
                <key>sourceSize</key>
                <string>{117,73}</string>
            </dict>
            <key>enemy_d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,471},{26,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{26,20}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>enemy_dl_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,336},{28,22}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,22}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>enemy_dr_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,473},{20,28}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{20,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>enemy_l_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,397},{20,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{20,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>enemy_r_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,397},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{20,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>enemy_u_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,399},{26,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{26,20}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>enemy_ul_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{20,28}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{20,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>enemy_ur_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,327},{28,22}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{28,22}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>player_d_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,94},{30,43}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{30,43}}</string>
                <key>sourceSize</key>
                <string>{34,57}</string>
            </dict>
            <key>player_d_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,139},{29,45}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{29,45}}</string>
                <key>sourceSize</key>
                <string>{31,57}</string>
            </dict>
            <key>player_d_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,186},{29,43}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{29,43}}</string>
                <key>sourceSize</key>
                <string>{33,57}</string>
            </dict>
            <key>player_dl_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,360},{27,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{27,42}}</string>
                <key>sourceSize</key>
                <string>{31,52}</string>
            </dict>
            <key>player_dl_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,425},{26,44}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{26,44}}</string>
                <key>sourceSize</key>
                <string>{34,52}</string>
            </dict>
            <key>player_dl_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,292},{28,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{28,42}}</string>
                <key>sourceSize</key>
                <string>{30,52}</string>
            </dict>
            <key>player_dr_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,294},{27,44}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{27,44}}</string>
                <key>sourceSize</key>
                <string>{31,50}</string>
            </dict>
            <key>player_dr_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,425},{26,44}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{26,44}}</string>
                <key>sourceSize</key>
                <string>{34,50}</string>
            </dict>
            <key>player_dr_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,294},{26,44}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{26,44}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>player_l_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,350},{27,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{27,43}}</string>
                <key>sourceSize</key>
                <string>{31,49}</string>
            </dict>
            <key>player_l_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,350},{27,45}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{27,45}}</string>
                <key>sourceSize</key>
                <string>{31,49}</string>
            </dict>
            <key>player_l_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,360},{27,43}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{27,43}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>player_r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{27,44}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{27,44}}</string>
                <key>sourceSize</key>
                <string>{31,52}</string>
            </dict>
            <key>player_r_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,48},{26,44}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{26,44}}</string>
                <key>sourceSize</key>
                <string>{34,52}</string>
            </dict>
            <key>player_r_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{26,44}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{26,44}}</string>
                <key>sourceSize</key>
                <string>{30,52}</string>
            </dict>
            <key>player_u_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,350},{27,44}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{27,44}}</string>
                <key>sourceSize</key>
                <string>{31,54}</string>
            </dict>
            <key>player_u_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,425},{27,46}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{27,46}}</string>
                <key>sourceSize</key>
                <string>{31,54}</string>
            </dict>
            <key>player_u_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,425},{27,44}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{27,44}}</string>
                <key>sourceSize</key>
                <string>{33,54}</string>
            </dict>
            <key>player_ul_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,377},{27,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{27,46}}</string>
                <key>sourceSize</key>
                <string>{31,52}</string>
            </dict>
            <key>player_ul_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,327},{27,48}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{27,48}}</string>
                <key>sourceSize</key>
                <string>{31,52}</string>
            </dict>
            <key>player_ul_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,351},{27,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{27,46}}</string>
                <key>sourceSize</key>
                <string>{33,52}</string>
            </dict>
            <key>player_ur_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{27,45}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{27,45}}</string>
                <key>sourceSize</key>
                <string>{31,53}</string>
            </dict>
            <key>player_ur_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,231},{28,47}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{28,47}}</string>
                <key>sourceSize</key>
                <string>{34,53}</string>
            </dict>
            <key>player_ur_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,280},{28,45}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{28,45}}</string>
                <key>sourceSize</key>
                <string>{30,53}</string>
            </dict>
            <key>small-ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,75},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas-hd.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d59998a5ee82865d306aa5a8f25f1547$</string>
            <key>textureFileName</key>
            <string>atlas-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
