<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>player_d_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 11}, {57, 83}}</string>
			<key>spriteOffset</key>
			<string>{2, 4}</string>
			<key>spriteSize</key>
			<string>{57, 83}</string>
			<key>spriteSourceSize</key>
			<string>{67, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{56, 0}, {57, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_d_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {56, 87}}</string>
			<key>spriteOffset</key>
			<string>{1, 5}</string>
			<key>spriteSize</key>
			<string>{56, 87}</string>
			<key>spriteSourceSize</key>
			<string>{62, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{167, 85}, {56, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_d_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 11}, {57, 83}}</string>
			<key>spriteOffset</key>
			<string>{2, 4}</string>
			<key>spriteSize</key>
			<string>{57, 83}</string>
			<key>spriteSourceSize</key>
			<string>{65, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{115, 0}, {57, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_dl_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 6}, {50, 83}}</string>
			<key>spriteOffset</key>
			<string>{1, 4}</string>
			<key>spriteSize</key>
			<string>{50, 83}</string>
			<key>spriteSourceSize</key>
			<string>{62, 103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{279, 174}, {50, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_dl_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {51, 87}}</string>
			<key>spriteOffset</key>
			<string>{1, 5}</string>
			<key>spriteSize</key>
			<string>{51, 87}</string>
			<key>spriteSourceSize</key>
			<string>{67, 103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{223, 259}, {51, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_dl_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 6}, {54, 83}}</string>
			<key>spriteOffset</key>
			<string>{0, 4}</string>
			<key>spriteSize</key>
			<string>{54, 83}</string>
			<key>spriteSourceSize</key>
			<string>{60, 103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{223, 174}, {54, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_dr_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 5}, {54, 83}}</string>
			<key>spriteOffset</key>
			<string>{3, 3}</string>
			<key>spriteSize</key>
			<string>{54, 83}</string>
			<key>spriteSourceSize</key>
			<string>{62, 99}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{174, 0}, {54, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_dr_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 2}, {51, 87}}</string>
			<key>spriteOffset</key>
			<string>{1, 4}</string>
			<key>spriteSize</key>
			<string>{51, 87}</string>
			<key>spriteSourceSize</key>
			<string>{67, 99}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{285, 0}, {51, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_dr_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 5}, {50, 83}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{50, 83}</string>
			<key>spriteSourceSize</key>
			<string>{60, 99}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{276, 259}, {50, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_l_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 6}, {50, 83}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{50, 83}</string>
			<key>spriteSourceSize</key>
			<string>{62, 97}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{161, 267}, {50, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_l_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {50, 87}}</string>
			<key>spriteOffset</key>
			<string>{3, 2}</string>
			<key>spriteSize</key>
			<string>{50, 87}</string>
			<key>spriteSourceSize</key>
			<string>{62, 97}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 277}, {50, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_l_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 6}, {51, 83}}</string>
			<key>spriteOffset</key>
			<string>{4, 1}</string>
			<key>spriteSize</key>
			<string>{51, 83}</string>
			<key>spriteSourceSize</key>
			<string>{65, 97}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{225, 89}, {51, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_r_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 7}, {50, 83}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{50, 83}</string>
			<key>spriteSourceSize</key>
			<string>{62, 103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{278, 89}, {50, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_r_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 4}, {51, 87}}</string>
			<key>spriteOffset</key>
			<string>{1, 4}</string>
			<key>spriteSize</key>
			<string>{51, 87}</string>
			<key>spriteSourceSize</key>
			<string>{67, 103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{56, 269}, {51, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_r_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 7}, {50, 83}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{50, 83}</string>
			<key>spriteSourceSize</key>
			<string>{60, 103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{109, 269}, {50, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_u_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 19}, {54, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, -9}</string>
			<key>spriteSize</key>
			<string>{54, 87}</string>
			<key>spriteSourceSize</key>
			<string>{62, 107}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{56, 180}, {54, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_u_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 16}, {54, 89}}</string>
			<key>spriteOffset</key>
			<string>{2, -7}</string>
			<key>spriteSize</key>
			<string>{54, 89}</string>
			<key>spriteSourceSize</key>
			<string>{62, 107}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 186}, {54, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_u_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 19}, {53, 87}}</string>
			<key>spriteOffset</key>
			<string>{2, -9}</string>
			<key>spriteSize</key>
			<string>{53, 87}</string>
			<key>spriteSourceSize</key>
			<string>{65, 107}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{230, 0}, {53, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_ul_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {54, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 89}</string>
			<key>spriteSourceSize</key>
			<string>{62, 103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{111, 85}, {54, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_ul_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {54, 93}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{54, 93}</string>
			<key>spriteSourceSize</key>
			<string>{62, 103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {54, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_ul_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 7}, {53, 89}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{53, 89}</string>
			<key>spriteSourceSize</key>
			<string>{65, 103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{112, 176}, {53, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_ur_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 8}, {54, 89}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{54, 89}</string>
			<key>spriteSourceSize</key>
			<string>{62, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 95}, {54, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_ur_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 5}, {53, 93}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{53, 93}</string>
			<key>spriteSourceSize</key>
			<string>{67, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{56, 85}, {53, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_ur_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 8}, {54, 89}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{54, 89}</string>
			<key>spriteSourceSize</key>
			<string>{60, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{167, 174}, {54, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>sprites</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>sprites_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>sprites_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
